<div class="estilos-fotografia">
    <div class="title">
        <h3>Estilos de fotografía</h3>
    </div>
</div>
<div class="box-retrato-autoretrato">
    <div class="retrato-autoretrato">
        <h4>Retrato y Autoretrato</h4>
    </div>
</div>
<div class="box-naturaleza-arquitectura">
    <div class="naturaleza-arquitectura">
        <h4>Naturaleza y Arquitectura</h4>
    </div>
</div>
<div class="container-imagen-1">
    <img src="assets/giphy.gif" alt="">
</div>
<div class="container-imagen-2">
    <img src="assets/giphy.gif" alt="">
</div>
<div class="container-imagen-3">
    <img src="assets/giphy.gif" alt="">
</div>