<div class="container">
    <div class="box-title">
        <h1>Hola! Soy Diego</h1>
    </div>
</div>
<div class="box-section-description">
    <div class="description">
        <h3>Estudiante de Imagen y Sonido en Valladolid, con 19 años. Este es mi portafolio, donde comparto mis
            creaciones en fotografía, vídeo y edición. ¡Descubre mi mundo visual y sonoro!</h3>
    </div>
</div>

<div class="box-big-container">
    <img src="assets/giphy.gif" alt="">
</div>
<div class="box-small-container">
    <img src="assets/giphy.gif" alt="">
</div>